body {background-color:#fdf9fd;}

a {
    color: white;
    font-family: helvetica;
    text-decoration: none;
    
  }
  
  a:hover {
      
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color: white;
  }

  .packages {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .package-item {
    background: #d3394c;
    padding: 5px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }
  .package-item:hover{
    background: #722040;
  }